*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.project{
    background: linear-gradient(yellow,#81F7F3);
}
  .projectText{
    text-align: center;
    padding: 20px;
  }
  .fullPro{
    height: 100px;
  }
  @media screen and (min-width:950px){
  .firstProject, .secondProject, .thirdProject{
    display: flex;
    position: relative;
    left: 50%;
    margin: 50px;
    transform: translateX(-50%);
    width: 800px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px 10px 10px;
    animation-duration: 2s;
    animation-name: shadow;
  }
  @keyframes shadow{
      from {
        box-shadow: 5px 5px 5px 5px;
        margin: 30px;
      }
      to {
        box-shadow: 10px 10px 10px 10px;
        margin: 50px;
     }
  }
  .bgm, .escape, .movie{
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width:949px){
  .firstProject, .secondProject, .thirdProject{
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    margin: 50px;
    width: 500px;
    height: 700px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px 10px 10px;
    animation-duration: 2s;
    animation-name: shadow;
  }
  .proText{
    position: relative;
    left: 50%;
    transform: translate(-50%,-11%);
    height: 399px;
    width: 100%;
  }
  .bgmtool{
    display: block;
  }
  @keyframes shadow{
      from {
        box-shadow: 5px 5px 5px 5px;
        margin: 30px;
      }
      to {
        box-shadow: 10px 10px 10px 10px;
        margin: 50px;
     }
  }
  .bgm, .escape ,.movie{
    width: 500px;
    height: 300px;
  }
}