*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.project{
    background-color: yellow;
  }
  .projectText{
    text-align: center;
    padding: 20px;
  }
  .firstProject, .secondProject{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px;
    width: 800px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px 10px 10px;
    animation-duration: 2s;
    animation-name: shadow;
  }
  @keyframes shadow{
      from {
        box-shadow: 5px 5px 5px 5px;
        margin: 30px;
      }
      to {
        box-shadow: 10px 10px 10px 10px;
        margin: 50px;
     }
  }
  .bgm, .escape{
    width: 500px;
    height: 300px;
  }