*{
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
}
.about{
 background: linear-gradient(yellow,#81F7F3);
}
.aboutText{
 text-align: center;
}
.aboutPre{
 text-align: center;
 margin-top: 10px;
}
.aboutSkill{
    opacity: 1;
    animation-duration: 1s;
    animation-name: show;
    animation-timing-function: linear;
}
@keyframes show{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (min-width:1024px){
    .aboutSkillText{
     text-align: center;
     margin-top: 100px;
    }
    .skill{
     display: inline-block;
     margin: 6% 0% 6% 12.5%;
    }
    .skillImg{
     width: 150px;
     height: 200px;
     border-radius: 50px;
     cursor: pointer;
    }
    .skillText{
     font-weight: bold;
     padding-bottom: 60%;
    }
    }
@media screen and (min-width:768px){
.aboutSkillText{
 margin-top: 100px;
}
.skillFirst{
 position: relative;
 left: 50%;
 transform: translateX(-30%);   
}
.skillSecond{
 position: relative;
 left: 50%;
 transform: translate(-30%,-30%);   
}
.skill{
 display: inline-block;
}
.skillImg{
 width: 150px;
 height: 200px;
 border-radius: 30px;
 cursor: pointer;
}
.skillText{
 margin: 10% 30% 0 30%;
 font-weight: bold;
}
}
@media screen and (max-width:767px){
    .aboutSkillText{
     text-align: center;
     margin-top: 100px;
    }
    .skillImg{
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     width: 200px;
     height: 300px;
     border-radius: 50px;
     margin: 20px 0 20px 0;
     cursor: pointer;
    }
    .skillText{
     text-align: center;
     font-weight: bold;
    }
    }